@font-face {
  font-family: 'Kokoro';
  src: url('../font/Kokoro.otf') format('otf');
}

header {
  position: absolute;
  width: auto;
  height: auto;
  font-family: 'Kokoro';
  text-align: center;
  font-size: small;
  color: #555555;
}

img {
  max-width: 100%;
  height: auto;
}