/*
 * grid
 * version:v1.0
 * Developer:popodesign
 * URL:https://popo-design.net
 */

/* 全体の設定
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* グリッド
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container_result {
  margin: auto;
  max-width: 1100px;
  width: 90%;
  position: relative;
}

.container_summarize {
  margin: auto;
  max-width: 1100px;
  width: 100%;
  padding: 0;
  position: relative;
  /* margin-left: 80px; */
}

@media screen and (min-width: 768px) {
  .container_summarize {
    margin: 0;
  }
}

.summarize_element {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .summarize_element {
    width: 100%;
    margin: auto;
  }
}





/* ブロックを縦に表示 */
.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    margin: auto;
    width: 100%;
    padding: 0;
    position: relative;
  }

  /* .row {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
  } */
}

.col {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

/* 768px以上の表示 */
@media (min-width : 768px) {
  .row {
    display: flex;
    /* flex-direction: row; */
    padding: 0;
  }

  .col {
    margin-left: 4%;
  }

  .col:first-child {
    margin-left: 0;
  }

  .row .col.span-1 {
    flex: 0 0 4.66666666667%;
    max-width: 4.66666666667%;
  }

  .row .col.span-2 {
    flex: 0 0 13.3333333333%;
    max-width: 13.3333333333%;
  }

  .row .col.span-3 {
    flex: 0 0 22%;
    max-width: 22%;
  }

  .row .col.span-4 {
    flex: 0 0 30.6666666667%;
    /* max-width: 30.6666666667%; */
  }

  .row .col.span-5 {
    flex: 0 0 39.3333333333%;
    max-width: 39.3333333333%;
  }

  .row .col.span-6 {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .row .col.span-7 {
    flex: 0 0 56.6666666667%;
    max-width: 56.6666666667%;
  }

  .row .col.span-8 {
    flex: 0 0 65.3333333333%;
    max-width: 65.3333333333%;
  }

  .row .col.span-9 {
    flex: 0 0 74.0%;
    max-width: 74.0%;
  }

  .row .col.span-10 {
    flex: 0 0 82.6666666667%;
    max-width: 82.6666666667%;
  }

  .row .col.span-11 {
    flex: 0 0 91.3333333333%;
    max-width: 91.3333333333%;
  }

  .row .col.span-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* オフセット */
  .row .col.offset-1 {
    margin-left: 8.66666666667%;
  }

  .row .col.offset-2 {
    margin-left: 17.3333333333%;
  }

  .row .col.offset-3 {
    margin-left: 26%;
  }

  .row .col.offset-4 {
    margin-left: 34.6666666667%;
  }

  .row .col.offset-5 {
    margin-left: 43.333333333%;
  }

  .row .col.offset-6 {
    margin-left: 52%;
  }

  .row .col.offset-7 {
    margin-left: 60.6666666667%;
  }

  .row .col.offset-8 {
    margin-left: 69.3333333333%;
  }

  .row .col.offset-9 {
    margin-left: 78.0%;
  }

  .row .col.offset-10 {
    margin-left: 86.6666666667%;
  }

  .row .col.offset-11 {
    margin-left: 95.3333333333%;
  }
}


/* 見出し
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

#date {
  font-size: 2.5em;
}

h2 {
  position: relative;
  padding: 1.5rem 2rem;
  border: 3px solid #d8d8d8;
  border-radius: 10px;
  background: #f9f9f9;
}

h2:before {
  position: absolute;
  bottom: -14px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #d8d8d8 transparent transparent transparent;
}

h2:after {
  position: absolute;
  bottom: -10px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #f9f9f9 transparent transparent transparent;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: 0rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

/*
  サイドバー（pc）
*/

#side_var {
  padding-left: 3%;
  /* padding-right: 3%; */
  width: 30%;
}

.ranking_title h3 {
  font-size: 1em;
}


#side_var h3 {
  font-size: 1.7em;
  margin-bottom: 5%;
  border-bottom: solid 1px #000;
  font-weight: bold;
}


.description {
  background: #e2e1e100;
  border-left: 5px dotted rgba(0, 0, 0, .1);
  box-shadow: 0 0 0 5px #d7d7d7e0;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
}

.description p {
  font-size: 1em;
}

.description h3 {
  font-size: 3.0rem;
}

.probability {
  background: #e2e1e100;
  border-left: 5px dotted rgba(0, 0, 0, .1);
  box-shadow: 0 0 0 5px #d7d7d7e0;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
}

.probability h4 {
  font-size: 1.7em;
}


.probability p {
  text-align: left;
  font-size: 1.5em;
}

.font-size-probability {
  font-size: 1.2em;
  color: red;
}


.Rate {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.Rate p {
  margin: 10px;
  font-size: 1.6em;
}

.under-bar {
  background: linear-gradient(transparent 60%, skyblue 60%);
}



.side_centense {
  background: #e2e1e100;
  border-left: 5px dotted rgba(0, 0, 0, .1);
  box-shadow: 0 0 0 5px #d7d7d7e0;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
}

.side_centense h4 {
  font-size: 1.7em;
  margin: 5px;
  margin-bottom: 5%;
  border-bottom: solid 1px #000;
}

.side_centense p {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
}

.side_centense a {
  text-align: center;
}

.side_centense #swing2 {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}

.horseranking {
  padding-left: 10px;
}

.No {
  display: flex;
  align-items: center;
  margin: 5%;
  margin-left: 0;
}

.No a {
  color: #0000EE;
  text-decoration: underline;
}

.atena {
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.atena a {
  margin: 20px 0;
}

.atena p {
  text-align: center;
  justify-content: center;
}

.netkeiba {
  align-items: center;
  justify-content: center;
}

.netkeiba a {
  margin: 20px 0;
}

.netkeiba p {
  text-align: center;
  justify-content: center;
}

.g1race {
  background: #e2e1e100;
  border-left: 5px dotted rgba(0, 0, 0, .1);
  box-shadow: 0 0 0 5px #d7d7d7e0;
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 3em;
}

.g1race a {
  color: #0000EE;
  text-decoration: underline;
  /* font-size: 1.3em; */
}

/*
  サイドバー（スマホ）
*/

@media screen and (max-width: 768px) {
  #side_var h3 {
    font-size: 2em;
    font-weight: bold;
  }

  .description h4 {
    font-size: 2em;
  }

  .description p {
    font-size: 1.4em;
  }

  .side_centense h4 {
    font-size: 2.5em;
  }

  .horseranking {
    font-size: 1.6em;
    font-weight: bold;
  }

  .g1race a {
    font-size: 1.3em;
  }
}



.race_title {
  display: flex;
  padding: 0.4em 0.5em;
  /*文字の上下 左右の余白*/
  color: #494949;
  /*文字色*/
  background: #f4f4f4;
  /*背景色*/
  border-left: solid 5px skyblue;
  /*左線*/
  border-bottom: solid 3px #d7d7d7;
  /*下線*/
  height: 5rem;
  justify-content: space-between;
  font-weight: bold;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}


/* モバイル表示 */
@media (min-width: 550px) {
  h1 {
    font-size: 4.0rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  h4 {
    font-size: 3.0rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  p {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  h5 {
    font-size: 1.9rem;
    font-weight: bold;
  }


  h3 {
    font-size: 2.0em;
  }

  p {
    font-size: 1.3rem;
  }

  .question {
    font-size: 1.3em;
  }


}




/* リンク
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
}

a:hover {
  color: #0FA0CE;
}


/* ボタン
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  margin-right: 5px;
  color: #555;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #bbb;
  border-radius: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}


/* フォーム
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  /* height: 38px; */
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 100px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #666;
  outline: 0;
}

label,
legend {
  /* display: block; */
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}


/* リスト
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  li {
    font-size: 1.4em;
  }
}


/* コード
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  white-space: nowrap;
  background: #F1F1F1;
}

pre>code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}


/* テーブル
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}

th,
td {
  /* padding: 12px 15px; */
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

@media screen and (max-width: 768px) {

  th,
  td {
    padding: 12px 15px;
  }
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}


/* スペース
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1rem;
}


/* 全幅
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.full-width {
  width: 100%;
  box-sizing: border-box;
}

.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}


/* 罫線
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: 1px solid #ccc;
}